# OpenAI API Key
OPENAI_API_KEY=
OPENAI_EMBEDDING_MODEL="text-embedding-3-small"

# Google Gemini API Key
GOOGLE_API_KEY=
GOOGLE_EMBEDDING_MODEL=

# PGVector
PGVECTOR_URL=postgresql+psycopg://postgres:postgres@127.0.0.1:5432/rag
PGVECTOR_COLLECTION=gpt5_collection

# Documento
PDF_PATH=document.pdf

# Text Splitter
TEXT_SPLITTER_CHUNK_SIZE=1000
TEXT_SPLITTER_CHUNK_OVERLAP=150
TEXT_SPLITTER_ADD_START_INDEX=False

# Model
MODEL_SIMILARITY=10
MODEL_TEMPERATURE=0.5
MODEL_NAME="gpt-5-nano"

# Fallback
FALLBACK_RESPONSE="Não tenho informações necessárias para responder sua pergunta."
